.Healthcare_Providers {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 20px;
  margin-top: 50px;
}

.whyalpha-subheading {
  color: rgb(99, 10, 10);
  text-align: center;
}

.Healthcare_Providers_image {
  width: 90%;
  height: auto;
  border-radius: 25px;
}


.student-image{
margin-top: 20px;
width: 100%;
border-radius: 15px;

}
.student-text-container{
  margin-top: 10px;
}
.for_student{
  color: rgb(99, 2, 2);
  text-align: center;
}
.student-text{
  font-size: 18px;
  text-align: justify;
  color: rgb(0, 0, 0);
}
.second-row{
  margin-top: 100px;
}