.inform-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    padding: 20px;
    background-image: linear-gradient(to right, rgb(255, 219, 237), rgb(134, 102, 121)); 
    animation: fadeIn 2s ease-in-out;
  }
  
  .inform-image-container {
    perspective: 1000px;
  }
  
  .inform-image-container{
    width: 100%;
    max-width: 400px;
    transition: transform 0.5s ease-in-out;
  }
  
  .inform-image-container:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  }
  
  .inform-text-container {
    margin-top: 20px;

    text-align: left;
    font-size: 1.2em;
    line-height: 1.5;
    margin-left: 250px;
    background-color: rgb(196, 157, 197);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .inform-text-container {
      font-size: 1em;
      padding: 10px;
    }
  }
  