.student_contact_wrapper {
    display: flex;
    justify-content: center;
    /* padding: 40px 20px; */
    font-family: 'Segoe UI', sans-serif;
  }
  
  .student_contact_form {
    /* background: white; */
    /* padding: 30px; */
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); */
  }
  
 
  
  .student_contact_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;

  }
  
  .student_contact_field label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .student_contact_field input,
  .student_contact_field select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s ease;
  }
  
  .student_contact_field input:focus,
  .student_contact_field select:focus {
    border-color: #00796b;
    outline: none;
  }
  
  .student_contact_required {
    color: red;
  }
  
  .student_contact_button {
    background-color: #3f0000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  

  .student_contact_success {
    text-align: center;
    padding: 2rem;
    background-color: #e8fce8;
    border: 2px solid #4caf50;
    border-radius: 12px;
    box-shadow: 0 0 10rgb(226, 154, 211)6a7;
    color: #2e7d32;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  