.footer_popup-content {
  padding: 20px;
}

.footer_popup-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #720000;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.footer_popup-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.footer_popup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_popup-form-group {
  display: flex;
  flex-direction: column;
}

.footer_popup-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.footer_popup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer_popup-submit-btn {
  background-color: #440303;
  color: white;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer_popup-submit-btn:hover {
  background-color: #ec7ff0;
}

.footer_popup-message {
  
  color: green;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}
